
<body>
<section class="container">
    
    <div class="row">
        <div class="col-md mt-5" >
            <img class="image" src="../../assets/Ctstrength/dumbell10kg.png" >
        </div>
        <div class="col-md">
            <div class="title">
                <h4>10 Kg Revolving Steel Dumbbell</h4>
            </div>
            <div class="features">
                <table >
                    <tr class="material">
                        <th>Material</th>
                        <td style="display: block; margin-left: 100px; ">Steel</td>
                    </tr>
                    <tr class="material">
                        <th>Weight</th>
                        <td style="display: block; margin-left: 100px; ">10 kG</td>
                    </tr>
                    <tr class="material">
                        <th>Head Shape</th>
                        <td style="display: block; margin-left: 100px; ">Round</td>
                    </tr>
                    <tr class="material">
                        <th>Type</th>
                        <td style="display: block; margin-left: 100px; ">Fixed Weight</td>
                    </tr>
                    <tr class="material">
                        <th>Brand</th>
                        <td style="display: block; margin-left: 100px; ">CTStrength</td>
                    </tr>
                    <tr class="material">
                        <th>Color</th>
                        <td style="display: block; margin-left: 100px; ">Silver</td>
                    </tr>
                    <tr class="material">
                        <th>Usage/Application</th>
                        <td style="display: block; margin-left: 100px; ">Gym</td>
                    </tr>
                    <tr class="material">
                        <th>Country of Origin</th>
                        <td style="display: block; margin-left: 100px; ">India</td>
                    </tr>
                    <tr class="material">
                        <th><a type="button" class="btn btn-success mt-3" style="color: white;" [routerLink]="['/contact']">Contact us</a></th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
   
</section>
<hr>
<section class="container">
    
    <div class="row">
        <div class="col-md mt-5" >
            <img class="image" src="../../assets/Ctstrength/50kgpng.png" >
        </div>
        <div class="col-md">
            <div class="title">
                <h4>50 KG Steel Dumbbell</h4>
            </div>
            <div class="features">
                <table >
                    <tr class="material">
                        <th>Material</th>
                        <td style="display: block; margin-left: 100px; ">Steel</td>
                    </tr>
                    <tr class="material">
                        <th>Maximum weight for adjustable dumbell</th>
                        <td style="display: block; margin-left: 100px; ">50 KG</td>
                    </tr>
                    <tr class="material">
                        <th>Head Shape</th>
                        <td style="display: block; margin-left: 100px; ">Round</td>
                    </tr>
                    <tr class="material">
                        <th>Type</th>
                        <td style="display: block; margin-left: 100px; ">Fixed Weight</td>
                    </tr>
                    <tr class="material">
                        <th>Brand</th>
                        <td style="display: block; margin-left: 100px; ">CTStrength</td>
                    </tr>
                    <tr class="material">
                        <th>Color</th>
                        <td style="display: block; margin-left: 100px; ">Silver</td>
                    </tr>
                    <tr class="material">
                        <th>Usage/Application</th>
                        <td style="display: block; margin-left: 100px; ">Gym</td>
                    </tr>
                    <tr class="material">
                        <th>Country of Origin</th>
                        <td style="display: block; margin-left: 100px; ">India</td>
                    </tr>
                    <tr class="material">
                        <th><a type="button" class="btn btn-success mt-3" style="color: white;" [routerLink]="['/contact']">Contact us</a></th>
                        
                    </tr>
                    
                    
                    
                    
                   
                </table>
            </div>
        </div>
    </div>
</section>

<hr>
<section class="container">
    
    <div class="row">
        <div class="col-md mt-5" >
            <img class="image" src="https://5.imimg.com/data5/SELLER/Default/2020/12/DN/SZ/VV/19211426/25-lbs-steel-dumbbell-500x500.jpg" >
        </div>
        <div class="col-md">
            <div class="title">
                <h4>25 Lbs Steel Dumbbell</h4>
            </div>
            <div class="features">
                <table >
                    <tr class="material">
                        <th>Material</th>
                        <td style="display: block; margin-left: 100px; ">Steel</td>
                    </tr>
                    <tr class="material">
                        <th>Maximum weight for adjustable dumbell</th>
                        <td style="display: block; margin-left: 100px; ">25 lbs</td>
                    </tr>
                    <tr class="material">
                        <th>Head Shape</th>
                        <td style="display: block; margin-left: 100px; ">Round</td>
                    </tr>
                    <tr class="material">
                        <th>Type</th>
                        <td style="display: block; margin-left: 100px; ">Fixed Weight</td>
                    </tr>
                    <tr class="material">
                        <th>Brand</th>
                        <td style="display: block; margin-left: 100px; ">CTStrength</td>
                    </tr>
                    <tr class="material">
                        <th>Color</th>
                        <td style="display: block; margin-left: 100px; ">Silver</td>
                    </tr>
                    <tr class="material">
                        <th>Usage/Application</th>
                        <td style="display: block; margin-left: 100px; ">Gym</td>
                    </tr>
                    <tr class="material">
                        <th>Country of Origin</th>
                        <td style="display: block; margin-left: 100px; ">India</td>
                    </tr>
                    <tr class="material">
                        <th><a type="button" class="btn btn-success mt-3" style="color: white;" [routerLink]="['/contact']">Contact us</a></th>
                        
                    </tr>
                    
                    
                    
                    
                   
                </table>
            </div>
        </div>
    </div>
</section>

<hr>

<section class="container">
    
    <div class="row">
        <div class="col-md mt-5" >
            <img class="image" src="https://5.imimg.com/data5/SELLER/Default/2020/12/RD/YU/HS/19211426/30-kg-revolving-steel-dumbbell-500x500.jpg" >
        </div>
        <div class="col-md">
            <div class="title">
                <h4>30 Kg Revolving Steel Dumbbell</h4>
            </div>
            <div class="features">
                <table >
                    <tr class="material">
                        <th>Material</th>
                        <td style="display: block; margin-left: 100px; ">Steel</td>
                    </tr>
                    <tr class="material">
                        <th>Weight</th>
                        <td style="display: block; margin-left: 100px; ">30 KG</td>
                    </tr>
                    <tr class="material">
                        <th>Head Shape</th>
                        <td style="display: block; margin-left: 100px; ">Round</td>
                    </tr>
                    <tr class="material">
                        <th>Type</th>
                        <td style="display: block; margin-left: 100px; ">Fixed Weight</td>
                    </tr>
                    <tr class="material">
                        <th>Brand</th>
                        <td style="display: block; margin-left: 100px; ">CTStrength</td>
                    </tr>
                    <tr class="material">
                        <th>Color</th>
                        <td style="display: block; margin-left: 100px; ">Silver</td>
                    </tr>
                    <tr class="material">
                        <th>Usage/Application</th>
                        <td style="display: block; margin-left: 100px; ">Gym</td>
                    </tr>
                    <tr class="material">
                        <th>Country of Origin</th>
                        <td style="display: block; margin-left: 100px; ">India</td>
                    </tr>
                    <tr class="material">
                        <th><a type="button" class="btn btn-success mt-3" style="color: white;" [routerLink]="['/contact']">Contact us</a></th>
                        
                    </tr>
                    
                    
                    
                    
                   
                </table>
            </div>
        </div>
    </div>
</section>

<hr>

<section class="container">
    
    <div class="row">
        <div class="col-md mt-5" >
            <img class="image" src="https://5.imimg.com/data5/SELLER/Default/2020/12/VW/VL/JT/19211426/17-5-kg-steel-dumbbell-500x500.jpg" >
        </div>
        <div class="col-md">
            <div class="title">
                <h4>17.5 Kg Steel Dumbbell</h4>
            </div>
            <div class="features">
                <table >
                    <tr class="material">
                        <th>Material</th>
                        <td style="display: block; margin-left: 100px; ">Steel</td>
                    </tr>
                    <tr class="material">
                        <th>Weight</th>
                        <td style="display: block; margin-left: 100px; ">17.5 KG</td>
                    </tr>
                    <tr class="material">
                        <th>Head Shape</th>
                        <td style="display: block; margin-left: 100px; ">Round</td>
                    </tr>
                    <tr class="material">
                        <th>Type</th>
                        <td style="display: block; margin-left: 100px; ">Fixed Weight</td>
                    </tr>
                    <tr class="material">
                        <th>Brand</th>
                        <td style="display: block; margin-left: 100px; ">CTStrength</td>
                    </tr>
                    <tr class="material">
                        <th>Color</th>
                        <td style="display: block; margin-left: 100px; ">Silver</td>
                    </tr>
                    <tr class="material">
                        <th>Usage/Application</th>
                        <td style="display: block; margin-left: 100px; ">Gym</td>
                    </tr>
                    <tr class="material">
                        <th>Country of Origin</th>
                        <td style="display: block; margin-left: 100px; ">India</td>
                    </tr>
                    <tr class="material">
                        <th><a type="button" class="btn btn-success mt-3" style="color: white;" [routerLink]="['/contact']">Contact us</a></th>
                        
                    </tr>
                    
                    
                    
                    
                   
                </table>
            </div>
        </div>
    </div>
</section>

<hr>


<section class="container">
    
    <div class="row">
        <div class="col-md mt-5" >
            <img class="image" src="https://5.imimg.com/data5/SELLER/Default/2020/12/LP/FK/YE/19211426/3-bolt-multi-plate-dumbbell-500x500.jpg" >
        </div>
        <div class="col-md">
            <div class="title">
                <h4>90 lbs 3 Bolt Steel Dumbbell</h4>
            </div>
            <div class="features">
                <table >
                    <tr class="material">
                        <th>Material</th>
                        <td style="display: block; margin-left: 100px; ">Steel</td>
                    </tr>
                    <tr class="material">
                        <th>Maximum Weight for Adjustable Dumbbell</th>
                        <td style="display: block; margin-left: 100px; ">90 Lbs</td>
                    </tr>
                    <tr class="material">
                        <th>Head Shape</th>
                        <td style="display: block; margin-left: 100px; ">Round</td>
                    </tr>
                    <tr class="material">
                        <th>Type</th>
                        <td style="display: block; margin-left: 100px; ">Fixed Weight</td>
                    </tr>
                    <tr class="material">
                        <th>Brand</th>
                        <td style="display: block; margin-left: 100px; ">CTStrength</td>
                    </tr>
                    <tr class="material">
                        <th>Color</th>
                        <td style="display: block; margin-left: 100px; ">Silver</td>
                    </tr>
                    <tr class="material">
                        <th>Usage/Application</th>
                        <td style="display: block; margin-left: 100px; ">Gym</td>
                    </tr>
                    <tr class="material">
                        <th>Country of Origin</th>
                        <td style="display: block; margin-left: 100px; ">India</td>
                    </tr>
                    <tr class="material">
                        <th><a type="button" class="btn btn-success mt-3" style="color: white;" [routerLink]="['/contact']">Contact us</a></th>
                        
                    </tr>
                    
                    
                    
                    
                   
                </table>
            </div>
        </div>
    </div>
</section>

<hr>



<section class="container">
    
    <div class="row">
        <div class="col-md mt-5" >
            <img class="image" src="https://5.imimg.com/data5/SELLER/Default/2020/12/SR/BY/YS/19211426/12-5-kg-steel-plated-dumbbell-500x500.jpg" >
        </div>
        <div class="col-md">
            <div class="title">
                <h4>12.5 Kg Steel Plated Dumbbell</h4>
            </div>
            <div class="features">
                <table >
                    <tr class="material">
                        <th>Material</th>
                        <td style="display: block; margin-left: 100px; ">Steel</td>
                    </tr>
                    <tr class="material">
                        <th>Maximum Weight for Adjustable Dumbbell</th>
                        <td style="display: block; margin-left: 100px; ">12.5 KG</td>
                    </tr>
                    <tr class="material">
                        <th>Head Shape</th>
                        <td style="display: block; margin-left: 100px; ">Round</td>
                    </tr>
                    <tr class="material">
                        <th>Type</th>
                        <td style="display: block; margin-left: 100px; ">Fixed Weight</td>
                    </tr>
                    <tr class="material">
                        <th>Brand</th>
                        <td style="display: block; margin-left: 100px; ">CTStrength</td>
                    </tr>
                    <tr class="material">
                        <th>Color</th>
                        <td style="display: block; margin-left: 100px; ">Silver</td>
                    </tr>
                    <tr class="material">
                        <th>Usage/Application</th>
                        <td style="display: block; margin-left: 100px; ">Gym</td>
                    </tr>
                    <tr class="material">
                        <th>Country of Origin</th>
                        <td style="display: block; margin-left: 100px; ">India</td>
                    </tr>
                    <tr class="material">
                        <th>Corrosion Resistance</th>
                        <td style="display: block; margin-left: 100px; ">Yes</td>
                    </tr>
                    <tr class="material">
                        <th><a type="button" class="btn btn-success mt-3" style="color: white;" [routerLink]="['/contact']">Contact us</a></th>
                        
                    </tr>
                    
                    
                    
                    
                   
                </table>
            </div>
        </div>
    </div>
</section>

<hr>
<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Manufactures of Quality Steel Revolving Dumbells, Revolving Barbells, Standard dumbells, Weight Plates, Olympic Barbells
            & Customized Weight stacks .</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a [routerLink]="['/shop']">Barbells</a></li>
            <li><a [routerLink]="['/dumbell']">Dumbells</a></li>
            <li><a [routerLink]="['/weight']"  >Weights</a></li>
          
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a [routerLink]="['/about']" >About Us</a></li>
            <li><a [routerLink]="['/contact']" routerLinkActive="router-link-active" >Contact Us</a></li>
            <li><a [routerLink]="['/gallery']" routerLinkActive="router-link-active" >Our Gallery</a></li>
            
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12" id="footerall" style="display: flex;">
          <p class="copyright-text"><img id="footct" src="assets/Fl.png"></p>
          <a id="ct">CTSTRENGTH INDIA</a>.
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="https://www.facebook.com/106857261798395/posts/121362150347906/?app=fbl"><i class="fab fa-facebook-f"></i></a></li>
            <li><a class="twitter" href="https://wa.me/919881728752"><i class="fab fa-whatsapp"></i></a></li>
            <li><a class="dribbble" href="https://instagram.com/ctstrengthindia?utm_medium=copy_link"><i class="fab fa-instagram"></i></a></li>
             
          </ul>
        </div>
      </div>
    </div>
</footer>



</body>