<div class="row">
  <div class="col-3">
    <!-- Tab navs -->
    <div
      class="nav flex-column nav-tabs text-center"
      id="v-tabs-tab"
      role="tablist"
      aria-orientation="vertical"
    >
    <div class="list-group">

      <a href="#" class="list-group-item list-group-item-action list-group-item-secondary" style="font-family: 'Alfa Slab One', cursive; font-size: 13px;">Premium Steel Dumbells</a></div></div></div></div>





<div class="row">
  <div class="col-3">
    <!-- Tab navs -->
    <div
      class="nav flex-column nav-tabs text-center"
      id="v-tabs-tab"
      role="tablist"
      aria-orientation="vertical"
    >
      <a
        class="nav-link active"

        id="v-tabs-home-tab"
        data-mdb-toggle="tab"
        href="#v-tabs-home"
        role="tab"
        aria-controls="v-tabs-home"
        aria-selected="true"
        style="color: black;"
        >Powdercoated</a
      >
      <a
        class="nav-link"
        id="v-tabs-profile-tab"
        data-mdb-toggle="tab"
        href="#v-tabs-profile"
        role="tab"
        aria-controls="v-tabs-profile"
        aria-selected="false"
        style="color: black;  "
        >Hardchrome plated</a
      >
      <br>

      <!-- ----------------------------------------------------------------------------------------------------------------------------->
      <!--------------------------------------------- Premium dumbells Revolving -------------------------------------->
      <!-- ----------------------------------------------------------------------------------------------------------------------------->
      <div class="list-group">

        <a href="#" class="list-group-item list-group-item-action list-group-item-secondary" style="font-family: 'Alfa Slab One', cursive; font-size: 13px;" >Premium Steel Revolving Dumbells</a>
      </div>

      <a
        class="nav-link"
        id="v-tabs-Powdercoated-tab"
        data-mdb-toggle="tab"
        href="#v-tabs-Powdercoated"
        role="tab"
        aria-controls="v-tabs-Powdercoated"
        aria-selected="false"
        style="color: black;"

        >Powdercoated</a
      >
      <a
      class="nav-link"
      id="v-tabs-hardchrome-tab"
      data-mdb-toggle="tab"
      href="#v-tabs-hardchrome"
      role="tab"
      aria-controls="v-tabs-hardchrome"
      aria-selected="false"
      style="color: black;"

      >Hardchrome plated</a
    >


    </div>


    <!-- Tab navs -->
  </div>



  <div class="col-9">
    <!-- Tab content -->
    <div class="tab-content" id="v-tabs-tabContent">
      <div
        class="tab-pane fade show active"
        id="v-tabs-home"
        role="tabpanel"
        aria-labelledby="v-tabs-home-tab"
      >
       <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-md">
            <img src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6343/6343461_rd.jpg" class="image-fluid" style="height: 200px; width: 200px">
            <p style="font-size: smaller;">Rogue Ohio Bar 2.0s</p>
            
          </div>
          <div class="col-md">
            <img src="https://i.pinimg.com/originals/48/a6/e7/48a6e72b34373cf21585c9faea300e37.jpg" class="image-fluid" style="height: 200px; width: 200px">
            <p style="font-size: smaller;">Rogue 45LB Ohio Power Bar </p>
            
          </div>
          <div class="col-md">
            <img src="https://th.bing.com/th/id/OIP.IO0AHEmPZC9EBFmmxiCaZgHaFj?pid=ImgDet&w=2560&h=1920&rs=1" class="image-fluid" style="height: 200px; width: 200px">
            <p style="font-size: smaller;">The Bella Bar</p>
           
          </div>
          <div class="col-md">
            <img src="https://th.bing.com/th/id/OIP.jwfkaNMBoAJLewXBglLRAwHaFC?pid=ImgDet&rs=1" class="image-fluid" style="height: 200px; width: 200px">
            <p style="font-size: smaller;">Rogue 45LB Ohio Power Bar - Aggro </p>
           
          </div>
          <div class="col-md">
            <img src="https://thumbs.dreamstime.com/b/closeup-shot-two-dumbells-placed-dark-grey-surface-136044580.jpg" class="image-fluid" style="height: 200px; width: 200px">
            <p style="font-size: smaller;">Rogue Bella Bar</p>
           
          </div>
          <div class="col-md">
            <img src="https://i0.wp.com/sherryleesmith.com/wp-content/uploads/2017/06/weights.jpg?fit=1200%2C800&ssl=1" class="image-fluid" style="height: 200px; width: 200px">
            <p style="font-size: smaller;">Rogue Zeus Buil Bar </p>
           
          </div>
          <div class="col-md">
            <img src="https://fitatmidlife.com/wp-content/uploads/Rogue-ZEUS-Build-A-Bar-Ohio-Bar-Custom.jpg" class="image-fluid" style="height: 200px; width: 200px">
            <p style="font-size: smaller;">Rogue Zeus Buil Bar </p>
          
          </div>
          <div class="col-md">
            <img src="https://fitatmidlife.com/wp-content/uploads/Rogue-ZEUS-Build-A-Bar-Ohio-Bar-Custom.jpg" class="image-fluid" style="height: 200px; width: 200px">
            <p style="font-size: smaller;">Rogue Zeus Buil Bar </p>
           
          </div>

        </div>
       </div>

      </div>
      <div
        class="tab-pane fade"
        id="v-tabs-profile"
        role="tabpanel"
        aria-labelledby="v-tabs-profile-tab"
      >









    <!-------------------------------- speciality barbell ---------------------------------->
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-md">
            <img src="https://i.pinimg.com/736x/a5/ba/a1/a5baa19fd8ccab50348d58c34ef775a5.jpg" class="image-fluid" style="height: 200px; width: 200px">
            <p style="font-size: smaller; margin-top: 5px; font-family: 'Cookie', cursive; font-size: 20px;">Duffalo LongHorn Bar</p>
            <ul class="list-unstyled list-inline rating mb-0 mt-0">
              <li class="list-inline-item mr-0"><i class="fas fa-star amber-text" style="font-size: 10px;"> </i></li>
              <li class="list-inline-item mr-0"><i class="fas fa-star amber-text" style="font-size: 10px;"></i></li>
              <li class="list-inline-item mr-0"><i class="fas fa-star amber-text" style="font-size: 10px;"></i></li>
              <li class="list-inline-item mr-0"><i class="fas fa-star amber-text" style="font-size: 10px;"></i></li>
              <li class="list-inline-item"><i class="fas fa-star-half-alt amber-text" style="font-size: 10px;"></i></li></ul>


          </div>
          <div class="col-md">
            <img src="https://cdn.shopify.com/s/files/1/0049/4272/products/longhorn2.jpg?v=1609885383" class="image-fluid" style="height: 200px; width: 200px">
            <p style="font-size: smaller; margin-top: 5px; font-family: 'Cookie', cursive; font-size: 20px;">Buffalo Bar </p>
            <ul class="list-unstyled list-inline rating mb-0 mt-0">
              <li class="list-inline-item mr-0"><i class="fas fa-star amber-text" style="font-size: 10px;"> </i></li>
              <li class="list-inline-item mr-0"><i class="fas fa-star amber-text" style="font-size: 10px;"></i></li>
              <li class="list-inline-item mr-0"><i class="fas fa-star amber-text" style="font-size: 10px;"></i></li>
              <li class="list-inline-item mr-0"><i class="fas fa-star amber-text" style="font-size: 10px;"></i></li>
              <li class="list-inline-item"><i class="fas fa-star-half-alt amber-text" style="font-size: 10px;"></i></li></ul>
          </div>
          <div class="col-md">
            <img src="https://www.garagegymreviews.com/wp-content/uploads/148260a1ce4fe4907df4cd475c442e28_5d0a757cb8a8e.png" class="image-fluid" style="height: 200px; width: 200px">
            <p style="font-size: smaller; margin-top: 5px; font-family: 'Cookie', cursive; font-size: 20px;">LongHorn Buffalo Bar</p>
            <ul class="list-unstyled list-inline rating mb-0 mt-0">
              <li class="list-inline-item mr-0"><i class="fas fa-star amber-text" style="font-size: 10px;"> </i></li>
              <li class="list-inline-item mr-0"><i class="fas fa-star amber-text" style="font-size: 10px;"></i></li>
              <li class="list-inline-item mr-0"><i class="fas fa-star amber-text" style="font-size: 10px;"></i></li>
              <li class="list-inline-item mr-0"><i class="fas fa-star amber-text" style="font-size: 10px;"></i></li>
              <li class="list-inline-item"><i class="fas fa-star-half-alt amber-text" style="font-size: 10px;"></i></li></ul>
          </div>
          <div class="col-md">
            <img src="https://external-preview.redd.it/kckdyGEla0iy7zkpHYDgQURp9MxVuz1UXAkTWSYN13E.jpg?auto=webp&s=1a481c3df25b598b9decc03a28d10670a3c5689d" class="image-fluid" style="height: 200px; width: 200px">
            <p style="font-size: smaller; margin-top: 5px; font-family: 'Cookie', cursive; font-size: 20px;">Buffalo Ox bars </p>
            <ul class="list-unstyled list-inline rating mb-0 mt-0">
              <li class="list-inline-item mr-0"><i class="fas fa-star amber-text" style="font-size: 10px;"> </i></li>
              <li class="list-inline-item mr-0"><i class="fas fa-star amber-text" style="font-size: 10px;"></i></li>
              <li class="list-inline-item mr-0"><i class="fas fa-star amber-text" style="font-size: 10px;"></i></li>
              <li class="list-inline-item mr-0"><i class="fas fa-star amber-text" style="font-size: 10px;"></i></li>
              <li class="list-inline-item"><i class="fas fa-star-half-alt amber-text" style="font-size: 10px;"></i></li></ul>
          </div>
          <div class="col-md">
            <img src="https://cdn.shopify.com/s/files/1/2559/4942/products/OxBar_c5454d6c-e82e-4cb7-9490-f4684a06f404_740x.jpg?v=1611254044" class="image-fluid" style="height: 200px; width: 200px">
            <p style="font-size: smaller; margin-top: 5px; font-family: 'Cookie', cursive; font-size: 20px;">Ox Squat Bar</p>
            <ul class="list-unstyled list-inline rating mb-0 mt-0">
              <li class="list-inline-item mr-0"><i class="fas fa-star amber-text" style="font-size: 10px;"> </i></li>
              <li class="list-inline-item mr-0"><i class="fas fa-star amber-text" style="font-size: 10px;"></i></li>
              <li class="list-inline-item mr-0"><i class="fas fa-star amber-text" style="font-size: 10px;"></i></li>
              <li class="list-inline-item mr-0"><i class="fas fa-star amber-text" style="font-size: 10px;"></i></li>
              <li class="list-inline-item"><i class="fas fa-star-half-alt amber-text" style="font-size: 10px;"></i></li></ul>
          </div>
          <div class="col-md">
            <img src="https://preview.redd.it/ymfy7hjf44s51.jpg?width=4608&format=pjpg&auto=webp&s=9c5c6e212590e25b505523eeaf15d6004422b7bc" class="image-fluid" style="height: 200px; width: 200px">
            <p style="font-size: smaller; margin-top: 5px; font-family: 'Cookie', cursive; font-size: 20px;">Vulcan Ox Trap Bar </p>
            <ul class="list-unstyled list-inline rating mb-0 mt-0">
              <li class="list-inline-item mr-0"><i class="fas fa-star amber-text" style="font-size: 10px;"> </i></li>
              <li class="list-inline-item mr-0"><i class="fas fa-star amber-text" style="font-size: 10px;"></i></li>
              <li class="list-inline-item mr-0"><i class="fas fa-star amber-text" style="font-size: 10px;"></i></li>
              <li class="list-inline-item mr-0"><i class="fas fa-star amber-text" style="font-size: 10px;"></i></li>
              <li class="list-inline-item"><i class="fas fa-star-half-alt amber-text" style="font-size: 10px;"></i></li></ul>
          </div>
          <div class="col-md">
            <img src="https://i.pinimg.com/736x/a5/ba/a1/a5baa19fd8ccab50348d58c34ef775a5.jpg" class="image-fluid" style="height: 200px; width: 200px">
            <p style="font-size: smaller; margin-top: 5px; font-family: 'Cookie', cursive; font-size: 20px;">Duffalo LongHorn Bar</p>
            <ul class="list-unstyled list-inline rating mb-0 mt-0">
              <li class="list-inline-item mr-0"><i class="fas fa-star amber-text" style="font-size: 10px;"> </i></li>
              <li class="list-inline-item mr-0"><i class="fas fa-star amber-text" style="font-size: 10px;"></i></li>
              <li class="list-inline-item mr-0"><i class="fas fa-star amber-text" style="font-size: 10px;"></i></li>
              <li class="list-inline-item mr-0"><i class="fas fa-star amber-text" style="font-size: 10px;"></i></li>
              <li class="list-inline-item"><i class="fas fa-star-half-alt amber-text" style="font-size: 10px;"></i></li></ul>

          </div>
          <div class="col-md">
            <img src="https://i.pinimg.com/736x/a5/ba/a1/a5baa19fd8ccab50348d58c34ef775a5.jpg" class="image-fluid" style="height: 200px; width: 200px">
            <p style="font-size: smaller; margin-top: 5px; font-family: 'Cookie', cursive; font-size: 20px;">Duffalo LongHorn Bar</p>
            <ul class="list-unstyled list-inline rating mb-0 mt-0">
              <li class="list-inline-item mr-0"><i class="fas fa-star amber-text" style="font-size: 10px;"> </i></li>
              <li class="list-inline-item mr-0"><i class="fas fa-star amber-text" style="font-size: 10px;"></i></li>
              <li class="list-inline-item mr-0"><i class="fas fa-star amber-text" style="font-size: 10px;"></i></li>
              <li class="list-inline-item mr-0"><i class="fas fa-star amber-text" style="font-size: 10px;"></i></li>
              <li class="list-inline-item"><i class="fas fa-star-half-alt amber-text" style="font-size: 10px;"></i></li></ul>

          </div>

        </div>
       </div>
      </div>

<!-- ----------------------------------------------------------------------------------------------------------------------------->
      <!--------------------------------------------- Premium dumbells Revolving -------------------------------------->
      <!-- ----------------------------------------------------------------------------------------------------------------------------->
      <div
        class="tab-pane fade"
        id="v-tabs-Powdercoated"
        role="tabpanel"
        aria-labelledby="v-tabs-Powdercoated-tab"

      >
        Powdercoated
      </div>
      <div
        class="tab-pane fade"
        id="v-tabs-hardchrome"
        role="tabpanel"
        aria-labelledby="v-tabs-hardchrome-tab"

      >
        hardchrome plates
      </div>
    </div>
    <!-- Tab content -->
  </div>

</div>
