@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');



.content{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-section{
  max-width: 1000px;
  text-align: center;
  padding: 0px 0px;
}
.hero-section h1{
  font-size: 5em;
  color: whitesmoke;
  margin: -85px 0px 0px 0px;
  z-index: 10;
}
.hero-section h1 span{

  color: crimson;

}
.hero-section h3{
  font-size: 3em;
  color: greenyellow;
  display: flex;
  margin: auto 0px 0px 0px;
  justify-content: center;

}
.hero-section p{
  color: whitesmoke;
  font-size: 1.5em;
  font-weight: 400;
  margin: 17px 0;
  font-weight: 800;
}
