
<div class="container" >
    <div class="card">
      <div class="container-fliud">
        <div class="wrapper row">
          <div class="preview col-md-6">
            
            <div class="preview-pic tab-content">
              <div class="tab-pane active" id="pic-1"><img src="https://th.bing.com/th/id/OIP.sjkWxsH19b2kWRBrsmROBwHaHZ?pid=ImgDet&rs=1" /></div>
              <div class="tab-pane" id="pic-2"><img src="https://th.bing.com/th/id/OIP.sjkWxsH19b2kWRBrsmROBwHaHZ?pid=ImgDet&rs=1" /></div>
              <div class="tab-pane" id="pic-3"><img src="https://th.bing.com/th/id/OIP.sjkWxsH19b2kWRBrsmROBwHaHZ?pid=ImgDet&rs=1" /></div>
              <div class="tab-pane" id="pic-4"><img src="https://th.bing.com/th/id/OIP.sjkWxsH19b2kWRBrsmROBwHaHZ?pid=ImgDet&rs=1" /></div>
              <div class="tab-pane" id="pic-5"><img src="https://th.bing.com/th/id/OIP.sjkWxsH19b2kWRBrsmROBwHaHZ?pid=ImgDet&rs=1" /></div>
            </div>
            <ul class="preview-thumbnail nav nav-tabs">
              <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="https://th.bing.com/th/id/OIP.sjkWxsH19b2kWRBrsmROBwHaHZ?pid=ImgDet&rs=1" /></a></li>
              <li><a data-target="#pic-2" data-toggle="tab"><img src="https://th.bing.com/th/id/OIP.sjkWxsH19b2kWRBrsmROBwHaHZ?pid=ImgDet&rs=1" /></a></li>
              <li><a data-target="#pic-3" data-toggle="tab"><img src="https://th.bing.com/th/id/OIP.sjkWxsH19b2kWRBrsmROBwHaHZ?pid=ImgDet&rs=1" /></a></li>
              <li><a data-target="#pic-4" data-toggle="tab"><img src="https://th.bing.com/th/id/OIP.sjkWxsH19b2kWRBrsmROBwHaHZ?pid=ImgDet&rs=1" /></a></li>
              <li><a data-target="#pic-5" data-toggle="tab"><img src="https://th.bing.com/th/id/OIP.sjkWxsH19b2kWRBrsmROBwHaHZ?pid=ImgDet&rs=1" /></a></li>
            </ul>
            
          </div>
          <div class="details col-md-6">
            <h3 class="product-title">Olympic Barbell Rod</h3>
           
            <p class="product-description">Suspendisse quos? Tempus cras iure temporibus? Eu laudantium cubilia sem sem! Repudiandae et! Massa senectus enim minim sociosqu delectus posuere.</p>
            <h4 class="price">current price: <span>$180</span></h4>
            <p class="vote"><strong>91%</strong> of buyers enjoyed this product!</p>
            <h5 class="sizes">sizes:
              <span class="size" data-toggle="tooltip" title="small">20.4 Kgs</span>
              
            </h5>
            <h5 class="colors">colors:
         
              <span class="color grey"></span>
      
            </h5>
            <div class="action">
              <button class="add-to-cart btn btn-default" type="button" [routerLink]="['/contact']" routerLinkActive="router-link-active" >Yes I am Interested</button>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
