@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

.col{
  border: 1px solid #BFBFBF; 
  padding: 10px 5px 10px 10px; 
  box-shadow: 10px 10px 5px #aaaaaa;
  margin: 5px 10px 5px 10px;
}

.col img{
  width: 250px;
  height: 250px;
}
#footimg{
  width: 55px;
    height: 55px;
    image-rendering: crisp-edges;
    border-radius: 50%;
    z-index: 9999999;
    display: block;
    box-shadow: 4px 3px 8px 1px #f12424;
    -webkit-box-shadow: 0px 2px 8px 0.5px #fcff5b;
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  
}
.site-footer .social-icons a.facebook
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  color: white;
  background-color: #3b5998;
}

.site-footer .social-icons a.twitter
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  color: white;
  background-color: #25d366;
}
.site-footer .social-icons a.dribbble
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  color: white;
  background-color: #b4153c;
}
.copyright-text
{
  margin:0
}

@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00fd37
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
/* .social-icons a.dribbble:hover
{
  background-color:crimson
} */
#footct{
  width: 55px;
    height: 55px;
    image-rendering: crisp-edges;
    border-radius: 50%;
    z-index: 9999999;
    display: block;
    box-shadow: 4px 3px 8px 1px #f12424;
    -webkit-box-shadow: 0px 2px 8px 0.5px #fcff5b;
}
#ct{
  margin-top: 15px;
  margin-left: 15px;
  font-family: 'Bree Serif', serif; 
  color: rgb(229, 255, 0);
  font-size: 1.5em;

}

@media screen and (max-width : 700px){

      
      #res{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
      .col img{
        display: block;
        width: auto;
      }
      #footerall{
        margin: 0px 0px;
        margin-left: 40px;
        
      }




}


@media screen and (max-width : 412px){

  
  #res{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .col img{
    display: block;
    width: auto;
  }
  #footerall{
    margin: 0px 0px;
    margin-left: 40px;
    
  }




}








#footimg{
  width: 55px;
    height: 55px;
    image-rendering: crisp-edges;
    border-radius: 50%;
    z-index: 9999999;
    display: block;
    box-shadow: 4px 3px 8px 1px #f12424;
    -webkit-box-shadow: 0px 2px 8px 0.5px #fcff5b;
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  
}
.site-footer .social-icons a.facebook
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  color: white;
  background-color:#0938f5
}

.site-footer .social-icons a.twitter
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  color: white;
  background-color:#0cce0c
}
.site-footer .social-icons a.dribbble
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  color: white;
  background-color:crimson
}
.copyright-text
{
  margin:0
}

@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00fd37
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
/* .social-icons a.dribbble:hover
{
  background-color:crimson
} */
#footct{
  width: 55px;
    height: 55px;
    image-rendering: crisp-edges;
    border-radius: 50%;
    z-index: 9999999;
    display: block;
    box-shadow: 4px 3px 8px 1px #f12424;
    -webkit-box-shadow: 0px 2px 8px 0.5px #fcff5b;
}
#ct{
  margin-top: 15px;
  margin-left: 15px;
  font-family: 'Bree Serif', serif; 
  color: rgb(229, 255, 0);
  font-size: 1.5em;

}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

@media screen and (max-width : 412px){
  #rbarbell{


    margin-left: 40px;

  }
  .rbarbell{
    width: 100vw;
  }

  #hbarbell{
    margin-left: 30px;
    margin-right: 5px;
  }

}
@media screen and (max-width : 541px){
  #rbarbell{


    margin-left: 40px;

  }
  .rbarbell{
    width: 100vw;
  }
  #hbarbell{
    margin-left: 30px;
    margin-right: 5px;
  }

}

