


<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
/>
<link href="http://getbootstrap.com/docs/4.1/examples/offcanvas/" />

<div class="wrapper">
  <div class="content">
    <!-- <div class="section">
      <h1 data-aos="fade-up"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="9000">
        Get<span> Fit</span> Strong <span>&</span> Motivated <span>!</span>
      </h1>
      
      <p data-aos="fade-up" id="para"
      data-aos-anchor-placement="top-bottom" data-aos-duration="9000">
        Respect your body, fuel your body, Challenge your body, Move your body
        and most of all, Love your body.
      </p>
      <h2>
        <a
        class="btn btn-primary"
        style="
          background-color: crimson;
          margin-right: 12px;
          border-radius: 50%;
          border: rgb(255, 255, 255);
        "
        href="#!"
        role="button"
        ><i class="fab fa-instagram"></i></a
      ><a
          class="btn btn-primary"
          style="
            background-color: #55acee;
            margin-right: 8px;
            border-radius: 50%;
          "
          href="#!"
          role="button"
          ><i class="fab fa-facebook-f"></i></a
        ><a
          class="btn btn-primary"
          style="
            background-color: #25d366;
            margin-right: 8px;
            border-radius: 50%;
          "
          href="https://wa.me/9881728752"
          role="button"
          ><i class="fab fa-whatsapp"></i
        ></a>
      </h2>
    </div> -->
  </div>
</div>



<div class="container mt-5">


  <!--Section: Content-->
  <section class="dark-grey-text text-center">

    <!-- Section heading -->
    <h3 class="font-weight-bold mb-4 pb-2" style="font-family: 'Bree Serif', serif; font-size: 30px; color: black;">Our Featured Products</h3>
    <!-- Section description -->
    <p class=" w-responsive mx-auto mb-5" style="color: black; font-family: 'Bree Serif', serif; font-size: 20px;">Manufactures of Quality Steel Revolving Dumbells, Revolving Barbells, Standard dumbells, Weight Plates, Olympic Barbells & Customized Weight stacks</p>
  </section></div>
<div id="owl"
  class="col-container"
  
>
  <owl-carousel-o [options]="customOptions"  class="col-md" id="" style="margin-left: 100px;" >
    <ng-template carouselSlide class="col mr-auto" id="bla"
        ><img
        src="assets/Ctstrength/resize01.jpg"
        style="
          border-radius: 10px;
          box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
          margin: 0 10px;
          width: 300px;
          height:300px;
        "
        
      />
      <h4
        style="
          margin-top: 10px;
          font-family: 'Bree Serif', serif;
          font-size: 20px;
          margin-left: 15px;
        "
      >
        5 kg Weights
      </h4></ng-template
    >
    <ng-template carouselSlide class="col mr-auto" id="bla"
      ><img
        src="assets//Ctstrength/resize02.jpg"
        style="
          border-radius: 10px;
          box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
          margin: 0 10px;
          width: 300px;
          height:300px;
        "
       
      />
      <h4
        style="
          margin-top: 10px;
          font-family: 'Bree Serif', serif;
          font-size: 20px;
          margin-left: 15px;
        "
      >
        2.5 kg Weights
      </h4>
    </ng-template>
    <ng-template carouselSlide class="col mr-auto" id="bla"
      ><img
        src="assets/Ctstrength/bar.jpg"
        style="
          border-radius: 10px;
          box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
          margin: 0 10px;
          width: 300px;
          height:300px;
        "
       
      />
      <h4
        style="
          margin-top: 10px;
          font-family: 'Bree Serif', serif;
          font-size: 20px;
          margin-left: 15px;
        "
      >
        CT Strength BarBell
      </h4></ng-template
    >
    <ng-template carouselSlide class="col mr-auto" id="bla"
      ><img
        src="assets/Ctstrength/resize04.jpg"
        style="
          border-radius: 10px;
          box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
          margin: 0 10px;
          width: 300px;
          height:300px;
        "
        height="150px;"
      />
      <h4
        style="
          margin-top: 10px;
          font-family: 'Bree Serif', serif;
          font-size: 20px;
          margin-left: 15px;
        "
      >
        CT Strength Dumbell (5 kg)
      </h4>
    </ng-template>
    <ng-template carouselSlide class="col mr-auto" id="bla"
      ><img
        src="assets/Ctstrength/resize05.jpg"
        style="
          border-radius: 10px;
          box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
          margin: 0 10px;
          width: 300px;
          height:300px;
        "
        height="150px;"
      />
      <h4
        style="
          margin-top: 10px;
          font-family: 'Bree Serif', serif;
          font-size: 20px;
          margin-left: 15px;
        "
      >
      CT Strength Dumbell (10 kg)
      </h4>
    </ng-template>
  </owl-carousel-o>
</div>





<!-- slider 2 starts -->







<!-- slider ends -->
<div class="container text-center mt-5 mb-4">
  <h4 style="font-family: 'Bree Serif', serif;">
    <strong>Manufacturers of 3 Bolt Design Steel Dumbells</strong>
  </h4>
</div>


<section>
    <div class="container" >

      <div class="row" [ngSwitch]="imagemode">
        <div *ngSwitchCase="'dumbell1'" class="col-md" style=" display: flex; justify-content: center; align-items: center;">
          <img class = "steel" src="assets/Ctstrength/dumbell10kg.png">
        </div>
          <div *ngSwitchCase="'dumbell1'" class="col-md" >
            <h6 class="mt-2" style="text-align: center;"><strong>PowderCoated Steel Dumbells</strong></h6>
            <hr>
              <p style="font-family: 'Bree Serif', serif; font-size: 20px;">We Manufacture Steel Dumbells which provide resistance from corrosion because of protective layer of Powder Coating</p>
              <table style="border-collapse:collapse">
                <tr style="max-width: 90%;">
                  <td style="text-align: left;  font-family: 'Bree Serif', serif;
                        font-size: 20px;">Weight</td>
                  <td style="text-align: end; font-family: 'Bree Serif', serif;
                        font-size: 20px;">10 KG</td>
                </tr>
                <tr style="max-width: 90%;">
                  <td style="text-align: left;  font-family: 'Bree Serif', serif;
    font-size: 20px;">Material</td>
                  <td style="text-align: end; font-family: 'Bree Serif', serif;
    font-size: 20px;">Steel</td>
                </tr>

                <tr >
                  <td style="text-align: left; font-family: 'Bree Serif', serif;
    font-size: 20px;">Brand</td>
                  <td style="text-align: end; font-family: 'Bree Serif', serif;
    font-size: 20px;">Ctstrength</td>
                </tr>

                <tr>
                  <td  style="text-align: left; font-family: 'Bree Serif', serif;
    font-size: 20px;">Headshape</td>
                  <td style="text-align: end; font-family: 'Bree Serif', serif;
    font-size: 20px;">Round</td>
                </tr>

                <tr>
                  <td style="text-align: left; font-family: 'Bree Serif', serif;
    font-size: 20px;">Finishing</td>
                  <td style="text-align: end; font-family: 'Bree Serif', serif;
    font-size: 20px;">Chrome</td>
                </tr>
                <tr>
                  <td style="text-align: left; font-family: 'Bree Serif', serif;
    font-size: 20px;">Country of origin</td>
                  <td style="text-align: end; font-family: 'Bree Serif', serif;
    font-size: 20px;">India</td>
                </tr>
              </table>


          </div>

          <div *ngSwitchCase="'dumbell2'" class="col-md" style=" display: flex; justify-content: center; align-items: center;">
            <img class = "steel" src="assets/Ctstrength/50kgpng.png" style="height: 300px;">
          </div>
            <div *ngSwitchCase="'dumbell2'" class="col-md" >
              <h6 class="" style="text-align: center;">PowderCoated Steel Dumbells</h6>
                <p >We Manufacture Steel Dumbells which provide resistance from corrosion because of protective layer of Powder Coating</p>
                <table style="border-collapse:collapse">
                  <tr style="max-width: 90%;">
                    <td style="text-align: left;  font-family: 'Bree Serif', serif;
                          font-size: 20px;">Weight</td>
                    <td style="text-align: end; font-family: 'Bree Serif', serif;
                          font-size: 20px;">50 KG</td>
                  </tr>
                  <tr >
                    
                    <td style="text-align: left; font-family: 'Bree Serif', serif;
    font-size: 20px; ">Material</td>
                    <td style="text-align: end; font-family: 'Bree Serif', serif;
    font-size: 20px;">Steel</td>
                  </tr>

                  <tr >
                    <td style="text-align: left; font-family: 'Bree Serif', serif;
    font-size: 20px;">Brand</td>
                    <td style="text-align: end; font-family: 'Bree Serif', serif;
    font-size: 20px;">Ctstrength</td>
                  </tr>

                  <tr>
                    <td  style="text-align: left; font-family: 'Bree Serif', serif;
    font-size: 20px;">Headshape</td>
                    <td style="text-align: end; font-family: 'Bree Serif', serif;
    font-size: 20px;">Round</td>
                  </tr>

                  <tr>
                    <td style="text-align: left; font-family: 'Bree Serif', serif;
    font-size: 20px;">Finishing</td>
                    <td style="text-align: end; font-family: 'Bree Serif', serif;
    font-size: 20px;">Chrome</td>
                  </tr>
                  <tr>
                    <td style="text-align: left; font-family: 'Bree Serif', serif;
    font-size: 20px;">Country of origin</td>
                    <td style="text-align: end; font-family: 'Bree Serif', serif;
    font-size: 20px;">India</td>
                  </tr>
                </table>


            </div>

            <div *ngSwitchCase="'dumbell3'" class="col-md" style=" display: flex; justify-content: center; align-items: center;">
              <img class = "steel" src="https://5.imimg.com/data5/SELLER/Default/2020/12/HA/HP/VC/19211426/5-kg-powder-coated-steel-dumbbell-500x500.jpg" style="height: 300px;">
            </div>
              <div *ngSwitchCase="'dumbell3'" class="col-md" >
                <h6 class="" style="text-align: center;">PowderCoated Steel Dumbells</h6>
                  <p >We Manufacture Steel Dumbells which provide resistance from corrosion because of protective layer of Powder Coating</p>
                  <table style="border-collapse:collapse">
                    <tr >
                      <td style="text-align: left; font-family: 'Bree Serif', serif;
    font-size: 20px;">Weigth</td>
                      <td style="text-align: end; font-family: 'Bree Serif', serif;
    font-size: 20px;">5 KG</td>
                    </tr>
                    <tr>
                      <td style="text-align: left; font-family: 'Bree Serif', serif;
    font-size: 20px;">Material</td>
                      <td style="text-align: end; font-family: 'Bree Serif', serif;
    font-size: 20px;">Steel</td>
                    </tr>

                    <tr >
                      <td style="text-align: left; font-family: 'Bree Serif', serif;
    font-size: 20px;">Brand</td>
                      <td style="text-align: end; font-family: 'Bree Serif', serif;
    font-size: 20px;">Ctstrength</td>
                    </tr>

                    <tr >
                      <td style="text-align: left; font-family: 'Bree Serif', serif;
    font-size: 20px;">Color</td>
                      <td style="text-align: end; font-family: 'Bree Serif', serif;
    font-size: 20px;">Black</td>
                    </tr>

                    <tr>
                      <td  style="text-align: left; font-family: 'Bree Serif', serif;
    font-size: 20px;">Headshape</td>
                      <td style="text-align: end; font-family: 'Bree Serif', serif;
    font-size: 20px;">Round</td>
                    </tr>

                    <tr>
                      <td style="text-align: left; font-family: 'Bree Serif', serif;
    font-size: 20px;">Finishing</td>
                      <td style="text-align: end; font-family: 'Bree Serif', serif;
    font-size: 20px;">Chrome</td>
                    </tr>
                    <tr>
                      <td style="text-align: left; font-family: 'Bree Serif', serif;
    font-size: 20px;">Country of origin</td>
                      <td style="text-align: end; font-family: 'Bree Serif', serif;
    font-size: 20px;">India</td>
                    </tr>
                  </table>


              </div>

      </div>


      <div class="container mt-5">
        <div  class="onlydumbells" >
            <div  class="image1" >
              <img  [class.active]="imagemode == 'dumbell1'" (click)="imagemode = 'dumbell1'" src="assets/Ctstrength/dumbell10kg.png" style="width: 110px; height: 110px; cursor: pointer;">
            </div>
            <div class="image2">
              <img [class.active]="imagemode == 'dumbell2'" (click)="imagemode = 'dumbell2'" src="assets/Ctstrength/50kgpng.png" style="width: 110px; height: 110px; cursor: pointer;">
            </div>
            <div class="image3">
              <img [class.active]="imagemode == 'dumbell3'" (click)="imagemode = 'dumbell3'" src="assets/Ctstrength/blackdumbell.png" style="width: 120px; height: 120px; cursor: pointer;">
            </div>
            <div class="image4">
              <img src="assets/Ctstrength/resize02.jpg" style="width: 120px; height: 120px; cursor: pointer;">
            </div>
        </div>
      </div>


    </div>
</section>





<!-- https://image.freepik.com/free-psd/barbell-mockup-leaned_1332-10818.jpg -->

<div class="container text-center mt-5 mb-4">
  <h2 style="font-family: 'Bree Serif', serif;">
    <strong>Introducing Our Equipments</strong>
  </h2>
</div>

<section

  class="p-5"
  style="background-color: rgb(223, 223, 223)"
>
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md" data-aos="fade-left"

      data-aos-duration="500">
      <!-- https://cdn.pixabay.com/photo/2016/03/31/19/34/black-1295124_960_720.png -->

        <img
        src="assets/Ctstrength/dumbell10kg.png"
          class="img-fluid steel"
          style="height: 250px; "
        />
      </div>
      <div class="col-md p-5" data-aos="fade-right" id="learn"

      data-aos-duration="500">
        <h2 style="font-family: 'Bree Serif', serif; color:crimson; ">
          <strong>CTSTRENGTH Dumbells</strong>
        </h2>
        <p style="font-style: bold; color: rgb(0, 0, 0); font-family: 'Bree Serif', serif; font-size: 20px;">
          The compact design of the dumbbells makes them easy-to-store and use
          at anytime, anywhere at your home.
        </p>
        <p style="font-style: bold; color: rgb(0, 0, 0); font-family: 'Bree Serif', serif; font-size: 20px;" >
          Made from the superior quality material that do not rust, survive longer and robust than other average dumbbells.The dumbbells are ergonomically designed in such a way that it minimizes physical efforts and reduces the chances of physical injuries. 
          The dumbbells are designed in a way that they increase stabilization, as greater stabilization increases good performance while exercising. 
          An important advantage of this design of Dumbbells is that it provides safety when exercising alone
        </p>
      </div>
    </div>
  </div>
</section>


<section

  class="p-5 bg-dark"
  style="background-color: rgb(223, 223, 223)"
>
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md p-5" data-aos="fade-left" id="learn"

      data-aos-duration="500">
        <h2 style="font-family: 'Bree Serif', serif;color: crimson">
          <strong>CTSTRENGTH Weights</strong>
        </h2>
        <p style=" color: rgb(255, 255, 255); font-family: 'Bree Serif', serif; font-style: bold; font-size: 20px;">
          These rubber weights are made to withstand grueling workouts and
          protect your floor and other fitness equipment from damage.
        </p>
        <p style="font-style: bold; color: rgb(255, 255, 255); font-family: 'Bree Serif', serif;  font-size: 20px;">
          The weights are made of superior quality material that do not rust, survive longer and robust than other average dumbbells
          Our weights are constructed to fit bars with 28mm diameter in width, so whether you are working out with an 
          adjustable dumbbell, barbell, or trap bar, these weights were made to fit it! These weights are available in many 
          different sizes and are ideal for cardiovascular and strength training routines
        </p>
      </div>
      <!-- https://image.freepik.com/free-psd/barbell-mockup-stacked_1332-10820.jpg -->
      <div class="col-md" data-aos="fade-right"

      data-aos-duration="500">
        <img
          src="assets/Ctstrength/weight10kg.png"
          class="img-fluid steel"
          style="height: 250px; width: 350px"
        />
      </div>
    </div>
  </div>
</section>


<br>
<br>

<div class="container text-center mt-5 mb-4">
  <h2 style="font-family: 'Bree Serif', serif;">
    <strong>We Work Until It's Done</strong>
  </h2>
</div>

<div class="container">
    <div class="gymphotos">
        <div class="col-md" style="width: 50%;">
            <img src="assets/Ctstrength/gymphoto1.jpg" >
            
            <h6 class="mt-1" >CTSTRENGTH Weights</h6>
            <hr>
        </div>
        <div class="col-md" style="width: 50%;">
          <img src="assets/Ctstrength/gymphoto2.jpg">
          <h6  class="mt-1">CTSTRENGTH Revolving Dumbells</h6>
          <hr>
      </div>
    </div>
</div>

<br>
<br>


<div class="container">
  <div class="row align-item-center justify-content-between">
    <div class="col-md" data-aos="fade-up-right" data-aos-duration="500">
      <figure class="figure1">
        <video style="width: 100%; height: 100%;" src="assets/Ctstrength/final.mp4" autoplay="true" loop="true" ></video>
        <figcaption class="figure-caption" style="color: black; font-family: 'Bree Serif', serif; font-size: 18px;">Made from the highest quality materials that do not rust, last longer and are more durable than the average dumbbells.
          The ergonomic design with superior rubber grip and high-quality interlocking system makes the shifts very smooth and easy. </figcaption>
      </figure>
    </div>
    <!-- <div class="col-md" data-aos="fade-up-left" data-aos-duration="500">
      <figure class="figure">
       <video src="assets/Ctstrength/final.mp4" autoplay="true" loop="true" style="display:block; max-width: 100%;"></video>
        <figcaption class="figure-caption" style="color: black; font-family: 'Bree Serif', serif; font-size: 18px;">Leeway Rubber Weights are constructed to fit bars with 28mm diameter
          in width, so whether you are working out with an adjustable dumbbell,
          barbell, or trap bar, these weights were made to fit it!</figcaption>
      </figure>
    </div> -->

  </div>
</div>

<br>
<section class="text-center my-5 px-3" >

<h2 class="h1-responsive font-weight-bold my-3" style="font-family: 'Bree Serif', serif; color: black">Our Testimonials</h2>
<!-- Section description -->
<p class=" w-responsive mx-auto mb-5" style="font-family: 'Bree Serif', serif; font-size: 18px; color: rgb(15, 6, 48);">
  We've been making gym equipment for the last 13 years and in those years, we've met a lot of great clients. Here’s what they think about us!</p>
<owl-carousel-o [options]="testimonialsOptions">
  <ng-template carouselSlide> <div class="col-md mt-3">
    <!--Card-->
    <mdb-card class="testimonial-card ">
      <!--Background color-->
      <div class="card-up dark-color"></div>
      <!--Avatar-->
      <div class="avatar mx-auto white">
        <img src="assets/bikram.jpg" class="rounded-circle img-fluid" style="width: 250px; height: 250px; border-radius: 50%;">
      </div>
      <mdb-card-body >
        <!--Name-->
        <h4 class="font-weight-bold mb-4 " >Bikram Sahoo</h4>
        <hr>
        <!--Quotation-->
        <p class="dark-black-text mt-4 " style="font-family: 'Bree Serif', serif; ">
          <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>Thank you CTStrength India for adding up the WOW factor to our Gyms. It’s been an amazing experience with CTStrength in term of products and services. 
          We’ve upgraded our gyms and we wanted to do something which no one has done before and that was possible just because of CTStrength. 
          It was worth the money and sweat</p>
      </mdb-card-body>
    </mdb-card>
    <!--Card-->
  </div></ng-template>  
  <ng-template carouselSlide> <div class="col-md mt-3">
    <!--Card-->
    <mdb-card class="testimonial-card ">
      <!--Background color-->
      <div class="card-up info-color"></div>
      <!--Avatar-->
      <div class="avatar mx-auto white">
        <img src="assets/Ctstrength/manish.jpg" class="rounded-circle img-fluid" style="width: 250px; height: 250px; border-radius: 50%;">
      </div>
      <mdb-card-body>
        <!--Name-->
        <h4 class="font-weight-bold mb-4">Manish Patwardhan</h4>
        <hr>
        <!--Quotation-->
        <p class="dark-black-text mt-4 " style="font-family: 'Bree Serif', serif; ">
          <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>I came in touch with CT strength when I opened my gym and I was facing the typical issues like broken dumbbells, poor quality material of dumbbells etc. 
          I chose CT Strength’s Dumbbells not just for the quality of the material they offer but the safety they provide because they manufacture India’s only rotating dumbbells which prevents joints injuries.</p>
      </mdb-card-body>
    </mdb-card>
    <!--Card-->
  </div></ng-template>  
  <ng-template carouselSlide> <div class="col-md mt-3">
    <!--Card-->
    <mdb-card class="testimonial-card ">
      <!--Background color-->
      <div class="card-up info-color"></div>
      <!--Avatar-->
      <div class="avatar mx-auto white">
        <img src="assets/bikram.jpg" class="rounded-circle img-fluid" style="width: 250px; height: 250px; border-radius: 50%;">
      </div>
      <mdb-card-body>
        <!--Name-->
        <h4 class="font-weight-bold mb-4">Bikram Sahoo</h4>
        <hr>
        <!--Quotation-->
        <p class="dark-black-text mt-4 " style="font-family: 'Bree Serif', serif; ">
          <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>Thank you CTStrength India for adding up the WOW factor to our Gyms. It’s been an amazing experience with CTStrength in term of products and services. 
          We’ve upgraded our gyms and we wanted to do something which no one has done before and that was possible just because of CTStrength. 
          It was worth the money and sweat</p>
      </mdb-card-body>
    </mdb-card>
    <!--Card-->
  </div></ng-template>  
</owl-carousel-o>
</section>














<br>

<!-- <section class="counter">
  <div class="rowplzz">
      <div class="years">
       
          <h2 style="text-align: center;">{{yearscount}}</h2>
          <h1 style="font-family: 'Rye', cursive; color: blueviolet; text-align: center;">Years Of Experience</h1>
      </div>
      <div class="customers">
      
        <h2 style="text-align: center;">{{customerscount}}</h2>
        <h1 style="font-family: 'Rye', cursive; color: blueviolet; text-align: center;">Happy Customers</h1>
    </div>
    <div class="noofproducts">
      
      <h2 style="text-align: center;">{{productcount}}</h2>
      <h1 style="font-family: 'Rye', cursive; color: blueviolet; text-align: center;">Number Of Products</h1>
  </div>
  </div>
</section> -->

<!-- Footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">Manufactures of Quality Steel Revolving Dumbells, Revolving Barbells, Standard dumbells, Weight Plates, Olympic Barbells
          & Customized Weight stacks .</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li><a [routerLink]="['/shop']">Barbells</a></li>
          <li><a [routerLink]="['/dumbell']">Dumbells</a></li>
          <li><a [routerLink]="['/weight']"  >Weights</a></li>
        
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a [routerLink]="['/about']" >About Us</a></li>
          <li><a [routerLink]="['/contact']" routerLinkActive="router-link-active" >Contact Us</a></li>
          <li><a [routerLink]="['/gallery']" routerLinkActive="router-link-active" >Our Gallery</a></li>
          
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container" id="">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12" id="footerall" style="display: flex;">
        <p class="copyright-text"><img id="footct" src="assets/Fl.png"></p>
        <a id="ct">CTSTRENGTH INDIA</a>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="https://www.facebook.com/106857261798395/posts/121362150347906/?app=fbl"><i class="fab fa-facebook-f"></i></a></li>
          <li><a class="twitter" href="https://wa.me/919881728752"><i class="fab fa-whatsapp"></i></a></li>
          <li><a class="dribbble" href="https://instagram.com/ctstrengthindia?utm_medium=copy_link"><i class="fab fa-instagram"></i></a></li>
           
        </ul>
      </div>
    </div>
  </div>
</footer>



<!-- https://github.com/angular/components/issues/23690 -->









