@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');


/* <img src="../../assets/Fl.png" style="z-index: 9999999; position: absolute; width: 115px; height: 115px; left: 45%; top: 2%;"> */
.wrapper{
  position: relative;

  overflow: none;
  height: 80vh;
  background:url('../../assets/CTS.jpg'); 
  /* background:linear-gradient(rgba(1, 4, 14, 0.6),rgba(1, 4, 14, 0.6)),url('../../assets/Ctstrength/gymview2.jpg');  */
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: 100% 100%;


}

.content{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section{
  max-width: 1000px;
  text-align: center;
  padding: 0px 0px;
}




.section h1{
  font-size: 3.5em;
  color: crimson;
  margin: -85px 0px 0px 0px;
  z-index: 10;
  font-family: 'Alfa Slab One', cursive;
}
.section h1 span{

  color: rgb(255, 255, 255);
  font-family: 'Alfa Slab One', cursive;

}
.section h3{
  font-size: 2.5em;
  color: rgb(188, 250, 95);

  margin: auto 0px 0px 0px;

  font-family: 'Alfa Slab One', cursive;

}
.section p{
  color: rgb(255, 255, 255);
  font-size: 1.7em;
  max-width: 800px;
  margin: 10px 0;
  font-family: 'Bree Serif', serif; 
}
.section h2{
  font-size: 1.5em;
  color: rgb(255, 255, 255);

  margin: auto 0px 0px 0px;

  font-family: 'Alfa Slab One', cursive;
}

.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.box{

  margin: 5px 6px;
}
#owl{
  margin-top: 30px; 
  padding: 15px;
}
.box h5{
  font-family: 'Rye', cursive;
  text-align: center;
  margin: 3px auto;
}
#card-btn{
  margin-left: 98px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.gymphotos{
  display: flex;
    padding: 0px 0px;
  flex-wrap: wrap;
}
.gymphotos img{
  width: 500px;
  height: 400px;
}
.gymphotos h6{
  font-size: 25px;
  font-family: 'Bree Serif', serif; 
} 
.rowplzz{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;


}

.counter{
  position: relative;
  width: 100vw;
  height: 40%;
  padding: 15px;
}
.years{
  width: 33.33%;


}

/* .figure1{
  height: 500px;
} */
.customers{
  width: 33.33%;
 
}
.noofproducts{
  width: 33.33%;

}
.steel{
  width: 400px;
  height: 200px;
}

/* tr:nth-child(odd){
  background-color: #dddddd;

} */

.onlydumbells{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.onlydumbells img{
  margin: 15px;
}
.onlydumbells img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
#footimg{
  width: 55px;
    height: 55px;
    image-rendering: crisp-edges;
    border-radius: 50%;
    z-index: 9999999;
    display: block;
    box-shadow: 4px 3px 8px 1px #f12424;
    -webkit-box-shadow: 0px 2px 8px 0.5px #fcff5b;
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  
}
.site-footer .social-icons a.facebook
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  color: white;
  background-color: #3b5998;
}

.site-footer .social-icons a.twitter
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  color: white;
  background-color: #25d366;
}
.site-footer .social-icons a.dribbble
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  color: white;
  background-color: #b4153c;
}
.copyright-text
{
  margin:0
}



@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
  #owl{
    margin-top: 30px; 
    padding: 45px;
  }
  table{
    margin-left: 40px;
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#567ed4
}
.social-icons a.twitter:hover
{
  background-color:#025c15
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
/* .social-icons a.dribbble:hover
{
  background-color:crimson
} */
#footct{
  width: 55px;
    height: 55px;
    image-rendering: crisp-edges;
    border-radius: 50%;
    z-index: 9999999;
    display: block;
    box-shadow: 4px 3px 8px 1px #f12424;
    -webkit-box-shadow: 0px 2px 8px 0.5px #fcff5b;
}
#ct{
  margin-top: 15px;
  margin-left: 15px;
  font-family: 'Bree Serif', serif; 
  color: rgb(229, 255, 0);
  font-size: 1.5em;

}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
@media screen and (max-width : 778px){
 
  .section{
    max-width: auto;
    text-align: center;



  }
  .section h1 {

    font-size:larger;
    margin-top: -200px



  }
  .section h3{
    font-size:larger
  }
  .section p{
    font-size:larger
  }
  .section h2{
    font-size:larger
  }
  .wrapper{
    height: 60vh;
  }
  #owl{
    width: 100vw;
  }
  #bla {
    max-width: min-content;
  }
  #bla img{
    width: 500px;
  }
  #learn{

    width: 100vw;
    display: contents;

    background-color: blue;
  }
  #owl-carousel-o{
    margin-left: 86px;
  }
  .bla{
    margin: auto 10px;
  }
  .cards{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .rowplzz{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .gymphotos{
    display: flex;
    padding: 0px 0px;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .gymphotos img{
   display: flex;
   width: 350px;
   height: 350px;
  }
  .gymphotos h6{
    font-family: 'Bree Serif', serif; 
    font-size: larger; 
    text-align:start
  }
  #map{
    display: block;
    width: 400px;
  }
  #innermap{
    display: block;
    width: inherit;
  }
  .years{
    width: 100%;
  }
  .years h2{
    margin-left: 0px;
    font-size: 25px;
    color: rgb(0, 0, 0);
  }
  .years h1{
    font-size: 25px;
    width: 100%;
  }
  .customers{
    width: 100%;
  }
  .customers h2{
    margin-left: 0px;
    font-size: 25px;
    color: rgb(0, 0, 0);
  }
  .customers h1{
    font-size: 25px;
    width: 100%;
  }

  .noofproducts{
    width: 100%;
  }
  .noofproducts h2{
    margin-left: 0px;
    font-size: 25px;
    color: rgb(0, 0, 0);
  }
  .noofproducts h1{
    font-size: 25px;
    width: 100%;
  }

  .steel{
    width: 200px;
    height: 120px;
  }
  #footerall{
    margin: 0px 0px;
    margin-left: 40px;
    
  }
  #owl{
    margin-top: 30px; 
    padding: 45px;
  }
  table{
    margin-left: 40px;
  }
}
@media screen and (max-width : 412px){



  .section{
    max-width: auto;
    text-align: center;



  }
  .section h1 {

    font-size:larger;
    margin-top: -300px



  }
  .section h3{
    font-size:larger
  }
  .section p{
    font-size:larger
  }
  .section h2{
    font-size:larger
  }
  .wrapper{
    height: 50vh;
  }
  #owl{
    width: 100vw;
  }
  #bla {
    max-width: min-content;
  }
  #bla img{
    width: 500px;
  }
  #learn{

    width: 100vw;
    display: contents;

    background-color: blue;
  }
  #owl-carousel-o{
    margin-left: 86px;
  }
  .bla{
    margin: auto 10px;
  }
  .cards{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .rowplzz{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .gymphotos{
    display: flex;
    padding: 0px 0px;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .gymphotos img{
   display: flex;
   width: 350px;
   height: 350px;
  }
  .gymphotos h6{
    font-family: 'Bree Serif', serif; 
    font-size: larger; 
    text-align:start
  }
  #map{
    display: block;
    width: 400px;
  }
  #innermap{
    display: block;
    width: inherit;
  }
  .years{
    width: 100%;
  }
  .years h2{
    margin-left: 0px;
    font-size: 25px;
    color: rgb(0, 0, 0);
  }
  .years h1{
    font-size: 25px;
    width: 100%;
  }
  .customers{
    width: 100%;
  }
  .customers h2{
    margin-left: 0px;
    font-size: 25px;
    color: rgb(0, 0, 0);
  }
  .customers h1{
    font-size: 25px;
    width: 100%;
  }

  .noofproducts{
    width: 100%;
  }
  .noofproducts h2{
    margin-left: 0px;
    font-size: 25px;
    color: rgb(0, 0, 0);
  }
  .noofproducts h1{
    font-size: 25px;
    width: 100%;
  }

  .steel{
    width: 200px;
    height: 120px;
  }
  #footerall{
    margin: 0px 0px;
    margin-left: 40px;
    
  }
  #owl{
    margin-top: 30px; 
    padding: 45px;
  }
  table{
    margin-left: 40px;
  }


}
/* git config http.postBuffer 524288000 */
